
.blob {
  width: 500px;
  height: 500px;
}

@media (max-width: 768px) {
  .blob {
    width: 400px; /* or whatever size you prefer for mobile */
    height: 400px; /* or whatever size you prefer for mobile */
  }
}

@media (max-width: 550px){
  .blob{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 340px){
  .blob{
    width: 200px;
    height: 200px;
  }
}